In [1]:
%matplotlib notebook

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
alt_crime_may2019 = "Data/Alt_Crime_May2019.csv"
alt_crime_may2020 = "Data/Alt_Crime_May2020.csv"

# Read the mouse data and the study results
crime_may2019 = pd.read_csv(alt_crime_may2019)
crime_may2020 = pd.read_csv(alt_crime_may2020)

In [3]:
crime_may2019.head()

,UC2_Literal,Report Number,Report Date,Location,Beat,Neigborhood,NPU,Lat,Long
0,ROBBERY,191510360,5/31/19,472 COURTLAND ST NE,509,Downtown,M,33.76763,-84.38419
1,ROBBERY,191511609,5/31/19,2423 MARTIN L KING JR DR NW,108,Florida Heights,I,33.75183,-84.46623
2,ROBBERY,191511411,5/31/19,1342 PRYOR RD SW,305,High Point,Y,33.71850,-84.39341
3,AGG ASSAULT,191510268,5/31/19,151 CLEVELAND AVE SW,310,Browns Mill Park,Z,33.68148,-84.39422
4,AGG ASSAULT,191511544,5/31/19,1083 EUCLID AVE NE,602,Inman Park,N,33.76323,-84.35155

In [5]:
#combo the crime data
altcrime_may2019_20 = pd.merge(crime_may2019, crime_may2020, on=['UC2_Literal'])

# Display the data table for preview
altcrime_may2019_20.head()

,UC2_Literal,Report Number_x,Report Date_x,Location_x,Beat_x,Neigborhood_x,NPU_x,Lat_x,Long_x,Report Number_y,Report Date_y,Location_y,Beat_y,Neigborhood_y,NPU_y,Lat_y,Long_y,Unnamed: 9
0,ROBBERY,191510360,5/31/19,472 COURTLAND ST NE,509,Downtown,M,33.76763,-84.38419,201520053,5/31/20,1362 BOULEVARD SE,607,Benteen Park,W,33.71744,-84.36818,NaN
1,ROBBERY,191510360,5/31/19,472 COURTLAND ST NE,509,Downtown,M,33.76763,-84.38419,201521330,5/31/20,1270 CAROLINE ST NE,609,Edgewood,O,33.75859,-84.34730,NaN
2,ROBBERY,191510360,5/31/19,472 COURTLAND ST NE,509,Downtown,M,33.76763,-84.38419,201520053,5/31/20,1362 BOULEVARD SE,607,Benteen Park,W,33.71744,-84.36818,NaN
3,ROBBERY,191510360,5/31/19,472 COURTLAND ST NE,509,Downtown,M,33.76763,-84.38419,201521330,5/31/20,1270 CAROLINE ST NE,609,Edgewood,O,33.75859,-84.34730,NaN
4,ROBBERY,191510360,5/31/19,472 COURTLAND ST NE,509,Downtown,M,33.76763,-84.38419,201520053,5/31/20,1362 BOULEVARD SE,607,Benteen Park,W,33.71744,-84.36818,NaN

In [ ]:
#clean the data by removing... [select which columns to remove]

#rename columns to show x = may2019 and y = may2020

In [8]:
#counting each crime